
.heading-group-h1{
  padding-left: 2%;
  padding-bottom: .5%;
  font-family: Arial, Helvetica, sans-serif;
}

.site-header{
  background-color: #FFEAA9; 
}

@media (max-width:640px){
  .icon-menu {float: right;}
}
@media (max-width:640px){
  nav ul {display: none;}
}

@media(hover: hover){
  nav ul:hover {display: block;}
}

@media (min-width:640px){
  .icon-menu {display: none;}
}

.icon-menu {
  position: absolute;
  top: 0;
  right: 0;
}

/* .icon-menu:hover ul{
  clear: both;
  display: table;
} */